.set-card-info {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  background: #fff;
  width: 100%;
  margin: 20px 0;
  transition: all 0.5s ease;
}

.set-card-pass {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  background: #fff;
  width: 100%;
  margin: 20px 0;
  transition: all 0.5s ease;
}

.set-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .set-card-header {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
} */

.set-card-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.edit-btn {
  padding: 6px 20px;
  background: rgb(29, 113, 208);
  border: 1px solid #b22a2a;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.edit-btn:hover {
  background: rgb(10, 97, 197);
}

/* INFO LIST */
.info-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 50% 1fr;
  row-gap: 20px;
}

.info-row {
  display: contents; /* Allows grid to align label/value cleanly */
}

.label {
  font-weight: 500;
  color: #333;
  height: 31px;
}

.value {
  color: #444;
}

.text-box {
  border: none;
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
  color: #000000;
  outline: none;
  background: transparent;
  width: 300px;
}

.set-save-btn {
  width: 100px;
  height: 35px;
  background: rgb(83, 43, 226);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
}

.set-save-btn:hover {
  background: rgb(57, 10, 230);
}
